/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --time: 14s;
  --fat_bor: 113px;
}

.container {
  width: 100%;
}

.webpack__logo {
  padding: 3rem 0;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  position: relative;
  display: block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-35.5deg) rotateY(45deg);
  transform: rotateX(-35.5deg) rotateY(45deg);
}

.cube__outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate__outer linear infinite;
  animation: rotate__outer linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer {
  position: absolute;
  border: 1px solid white;
  background: rgba(141, 214, 249, 0.5);
  width: 119px;
  height: 119px;
}

.outer.front {
  -webkit-transform: translateZ(60px);
  transform: translateZ(60px);
  -webkit-animation: border__outer_front linear infinite;
  animation: border__outer_front linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer.back {
  -webkit-transform: translateZ(-60px);
  transform: translateZ(-60px);
  -webkit-animation: border__outer_back linear infinite;
  animation: border__outer_back linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer.left {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) translateZ(60px);
  -webkit-animation: border__outer_left linear infinite;
  animation: border__outer_left linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer.right {
  -webkit-transform: rotateY(90deg) translateZ(-60px);
  transform: rotateY(90deg) translateZ(-60px);
  -webkit-animation: border__outer_right linear infinite;
  animation: border__outer_right linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer.top {
  width: var(--fat_bor);
  height: var(--fat_bor);
  -webkit-transform: rotateX(90deg) translateZ(60px);
  transform: rotateX(90deg) translateZ(60px);
  -webkit-animation: border__outer_top linear infinite;
  animation: border__outer_top linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.outer.bottom {
  width: 119px;
  height: 119px;
  -webkit-transform: rotateX(90deg) translateZ(-60px);
  transform: rotateX(90deg) translateZ(-60px);
}

.cube__inner {
  position: absolute;
  width: 50%;
  height: 50%;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30px, 30px);
  -ms-transform: translate(30px, 30px);
  transform: translate(30px, 30px);
  -webkit-animation: rotate__inner linear infinite;
  animation: rotate__inner linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.inner {
  position: absolute;
  border: 1px solid white;
  background: #175d96;
  height: 60px;
  width: 60px;
}

.inner.front {
  -webkit-transform: translateZ(30px);
  transform: translateZ(30px);
}

.inner.back {
  -webkit-transform: translateZ(-30px);
  transform: translateZ(-30px);
}

.inner.left {
  -webkit-transform: rotateY(90deg) translateZ(30px);
  transform: rotateY(90deg) translateZ(30px);
}

.inner.right {
  -webkit-transform: rotateY(90deg) translateZ(-30px);
  transform: rotateY(90deg) translateZ(-30px);
}

.inner.top {
  -webkit-transform: rotateX(90deg) translateZ(30px);
  transform: rotateX(90deg) translateZ(30px);
}

.inner.bottom {
  -webkit-transform: rotateX(90deg) translateZ(-30px);
  transform: rotateX(90deg) translateZ(-30px);
}

.logo__container_html {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate__html linear infinite;
  animation: rotate__html linear infinite;
  -webkit-animation-duration: var(--time);
  animation-duration: var(--time);
}

.html,
.js,
.css {
  height: 100%;
  width: 100%;
}

.html {
  width: 90%;
  height: 90%;
  -webkit-transform: translate(5%, 5%) rotate(45deg);
  -ms-transform: translate(5%, 5%) rotate(45deg);
  transform: translate(5%, 5%) rotate(45deg);
}

.outer.right > *,
.outer.back > * {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@-webkit-keyframes border__outer_left {
  0% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  48% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  50% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  73% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  75% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  98% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  100% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }
}

@keyframes border__outer_left {
  0% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  48% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  50% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  73% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  75% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  98% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  100% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }
}

@-webkit-keyframes border__outer_right {
  0% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  23% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  25% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  48% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  50% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  98% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  100% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }
}

@keyframes border__outer_right {
  0% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  23% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  25% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  48% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  50% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  98% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  100% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }
}

@-webkit-keyframes border__outer_back {
  0% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  23% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  25% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  48% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  50% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  73% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  75% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  100% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }
}

@keyframes border__outer_back {
  0% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  23% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  25% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  48% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  50% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  73% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  75% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  100% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }
}

@-webkit-keyframes border__outer_top {
  0% {
    border-width: 6px 6px 1px 1px;
  }

  23% {
    border-width: 6px 6px 1px 1px;
  }

  25% {
    border-width: 1px 6px 6px 1px;
  }

  48% {
    border-width: 1px 6px 6px 1px;
  }

  50% {
    border-width: 1px 1px 6px 6px;
  }

  73% {
    border-width: 1px 1px 6px 6px;
  }

  75% {
    border-width: 6px 1px 1px 6px;
  }

  98% {
    border-width: 6px 1px 1px 6px;
  }

  100% {
    border-width: 6px 6px 1px 1px;
  }
}

@keyframes border__outer_top {
  0% {
    border-width: 6px 6px 1px 1px;
  }

  23% {
    border-width: 6px 6px 1px 1px;
  }

  25% {
    border-width: 1px 6px 6px 1px;
  }

  48% {
    border-width: 1px 6px 6px 1px;
  }

  50% {
    border-width: 1px 1px 6px 6px;
  }

  73% {
    border-width: 1px 1px 6px 6px;
  }

  75% {
    border-width: 6px 1px 1px 6px;
  }

  98% {
    border-width: 6px 1px 1px 6px;
  }

  100% {
    border-width: 6px 6px 1px 1px;
  }
}

@-webkit-keyframes border__outer_front {
  0% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  23% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  25% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  73% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  75% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  98% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  100% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }
}

@keyframes border__outer_front {
  0% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  23% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }

  25% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  73% {
    height: 119px;
    width: 119px;
    border-width: 1px 1px 1px 1px;
  }

  75% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  98% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 1px 6px 6px;
  }

  100% {
    height: var(--fat_bor);
    width: var(--fat_bor);
    border-width: 1px 6px 6px 1px;
  }
}

@-webkit-keyframes rotate__outer {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  23% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  25% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  48% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  73% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  75% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }

  98% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate__outer {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  23% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  25% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  48% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  73% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  75% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }

  98% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate__inner {
  0% {
    -webkit-transform: translate(30px, 30px) rotateY(0deg);
    transform: translate(30px, 30px) rotateY(0deg);
  }

  23% {
    -webkit-transform: translate(30px, 30px) rotateY(0deg);
    transform: translate(30px, 30px) rotateY(0deg);
  }

  25% {
    -webkit-transform: translate(30px, 30px) rotateY(-90deg);
    transform: translate(30px, 30px) rotateY(-90deg);
  }

  48% {
    -webkit-transform: translate(30px, 30px) rotateY(-90deg);
    transform: translate(30px, 30px) rotateY(-90deg);
  }

  50% {
    -webkit-transform: translate(30px, 30px) rotateY(-180deg);
    transform: translate(30px, 30px) rotateY(-180deg);
  }

  73% {
    -webkit-transform: translate(30px, 30px) rotateY(-180deg);
    transform: translate(30px, 30px) rotateY(-180deg);
  }

  75% {
    -webkit-transform: translate(30px, 30px) rotateY(-270deg);
    transform: translate(30px, 30px) rotateY(-270deg);
  }

  98% {
    -webkit-transform: translate(30px, 30px) rotateY(-270deg);
    transform: translate(30px, 30px) rotateY(-270deg);
  }

  100% {
    -webkit-transform: translate(30px, 30px) rotateY(-360deg);
    transform: translate(30px, 30px) rotateY(-360deg);
  }
}

@keyframes rotate__inner {
  0% {
    -webkit-transform: translate(30px, 30px) rotateY(0deg);
    transform: translate(30px, 30px) rotateY(0deg);
  }

  23% {
    -webkit-transform: translate(30px, 30px) rotateY(0deg);
    transform: translate(30px, 30px) rotateY(0deg);
  }

  25% {
    -webkit-transform: translate(30px, 30px) rotateY(-90deg);
    transform: translate(30px, 30px) rotateY(-90deg);
  }

  48% {
    -webkit-transform: translate(30px, 30px) rotateY(-90deg);
    transform: translate(30px, 30px) rotateY(-90deg);
  }

  50% {
    -webkit-transform: translate(30px, 30px) rotateY(-180deg);
    transform: translate(30px, 30px) rotateY(-180deg);
  }

  73% {
    -webkit-transform: translate(30px, 30px) rotateY(-180deg);
    transform: translate(30px, 30px) rotateY(-180deg);
  }

  75% {
    -webkit-transform: translate(30px, 30px) rotateY(-270deg);
    transform: translate(30px, 30px) rotateY(-270deg);
  }

  98% {
    -webkit-transform: translate(30px, 30px) rotateY(-270deg);
    transform: translate(30px, 30px) rotateY(-270deg);
  }

  100% {
    -webkit-transform: translate(30px, 30px) rotateY(-360deg);
    transform: translate(30px, 30px) rotateY(-360deg);
  }
}

@-webkit-keyframes rotate__html {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  23% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  48% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  73% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  98% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate__html {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  23% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  48% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  73% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  98% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
