@media (prefers-color-scheme: dark) {
  body {
    background-color: #060502;
    color: #fff;
  }
  .quote {
    background-color: #191f29cc;
  }

  a {
    color: #fff;
  }

  .menu {
    background-color: #3f4e6a;
    box-shadow: 0.25rem 0 1.25rem 1rem #3f4e6a;
  }
  .overley {
    background-color: #212631;
  }

  .menu__item:hover {
    color: #f00;
  }

  .menu__item::after {
    background-color: #f00;
  }
  
  .experience thead {
    background-color: #191f29;
  }
  .experience tbody {
    background-color: #3f4e6a;
  }
}
