@media (prefers-color-scheme: light) {
  body {
    background-color: #e9d0a1;
    color: #000;
  }
  figure {
    background-color: #e4b14ecc;
  }

  .menu {
    background-color: #e4b14e;
    box-shadow: 0.25rem 0 1.25rem 1rem #000;
  }
  .overley {
    background-color: #c4c4c4;
  }

  .menu__item:hover {
    color: #00f;
  }

  .menu__item::after {
    background-color: #00f;
  }

  .experience thead {
    background-color: #9d7220;
  }
  .experience tbody {
    background-color: #e4b14e;
  }
}
