/* COMMON */
body {
    padding: 0;
    margin: 0;
    font: 16px/20px "Roboto", sans-serif;
    overflow-x: hidden;
    background: url(../image/backgrounds/Welcome-small.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    width: 100%;
}

section,
footer {
    width: 100%;
    max-width: 800px;
    align-self: center;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

a {
    display: flex;
    align-items: center;
}

h2,
h3 {
    text-align: center;
}

p {
    text-indent: 2rem;
    padding: 0 0.5rem;
}

.quote {
    padding: 2rem;
    margin: 0;
    width: 100%;
}

blockquote {
    margin: 0;
    width: 100%;
}

form {
    max-width: 600px;
}

figcaption {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-weight: bold;
}

textarea {
    width: 90%;
}

input[type="submit"] {
    height: 2rem;
    margin: 1rem 0;
}

a {
    font-weight: 400;
}

/* HEADER */

.menu {
    position: fixed;
    top: -4.5rem;
    right: -4.5rem;
    width: 9rem;
    height: 9rem;
    border-bottom-left-radius: 50%;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s linear;
}

.overley {
    position: fixed;
    z-index: 10;
    opacity: 0;
    width: 0;
    height: 100%;
    transition: opacity 0.2s linear;
}

.open {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    border-bottom-left-radius: 0;
    cursor: auto;
}

.menu.open + .overley {
    width: 100%;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu__inner {
    height: 100%;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    display: none;
    position: relative;
}

.menu__inner_navigation {
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}

.menu__item {
    text-decoration: none;
    color: black;
    justify-content: center;
    position: relative;
    transition: color 0.3s linear;
}

.menu__item::after {
    content: "";
    width: 5rem;
    height: 0;
    position: absolute;
    top: 100%;
    transition: height 0.2s linear;
}

.menu__item:hover::after {
    height: 2px;
}
.theme__wrapper {
    position: relative;
    height: 4rem;
}
.theme {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.theme__icon {
    height: 50%;
    width: 50%;
}

.theme:active {
    border-style: none;
}

.menu.open .menu__inner {
    display: block;
}

/* TITLE */

.title {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avatar__wrapper div {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main__title {
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
}

.avatar {
    margin-top: 1rem;
    border-radius: 50%;
    max-width: 30rem;
}

/* EXPERIENCE */

.table__wrapper {
    display: flex;
    justify-content: center;
}

.experience td {
    padding-top: 0.5rem;
    text-align: center;
}

/* EXAMPLES */

.examples__item {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

/* CONTACTS */

.contacts__item {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacts__item_logo {
    height: 2rem;
}

.field {
    padding-bottom: 0.5rem;
}

.field label {
    display: block;
    float: left;
    width: 7rem;
    height: 1rem;
}

.message {
    width: 100%;
}

.message * {
    display: block;
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 768px) {
    body {
        background: url(../image/backgrounds/Welcome-medium.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media screen and(min-width: 1200px) {
    body {
        background: url(../image/backgrounds/Welcome-large.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    p {
        padding: 0;
    }
}

@media screen and (orientation: landscape) {
    .title {
        height: 100%;
        margin: 10rem auto;
    }
}
